
body {
    /* background-color: #F00;
    color: #FFF; */
    /* background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: 20%;
    padding: 130px 140px !important;
    margin: 0;
    height: 100%; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.mainDiv {
    position: absolute;
    top: 30px;
    left: 60px;
}

.picked {
    color: green;
}

.drawPopup {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 1200px;
    /* height: 30%; */
    padding: 50px;
    border-radius: 100px;
    background-color: #FFF;
    margin: auto;
    font-size: 60px;
    z-index: 5;
    text-align: center;
    transition: all 1s;
    cursor: pointer;
}

.drawPopup b {
    color: #F00;
}

nav a {
    display: inline-block;
    padding: 10px 10px;
    /* color: #1c5c5b; */
}

nav a:first-child {
    padding-left: 0;
}

.message {
    font-size: 18px;
}